<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Cameras</string>
			<key>File</key>
			<string>Cameras</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Video Formats</string>
			<key>File</key>
			<string>Video Formats</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Video Bitrate</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Multiplier of the default bitrate</string>
			<key>Key</key>
			<string>video_bitrate</string>
			<key>DefaultValue</key>
			<integer>25000000</integer>
			<key>Titles</key>
			<array>
				<string>x1 - default - 1min UHD = 440 MB</string>
				<string>x2 - more details - 1 min UHD = 1 GB</string>
				<string>x4 - for geeks - 1 min UHD = 2 GB</string>
			</array>
			<key>ShortTitles</key>
			<array>
				<string>Default</string>
				<string>Double</string>
				<string>Quadruple</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>25000000</integer>
				<integer>50000000</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
