<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>4K - 4/3 - Reduced frame rate</string>
			<key>FooterText</key>
			<string>This is a 4/3 aspect ratio format.
This format has reduced frames per second rate and doesn't support stabilisation.
This format supports taking highest quality photos in HDR.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>4K 4032x3024 30 fps
Supports taking HDR photos</string>
			<key>Key</key>
			<string>na</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Include this format</string>
			<key>Key</key>
			<string>include_fmt_4k</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Ultra High Definition - High frame rate</string>
			<key>FooterText</key>
			<string>Wide camera only, iPhone 16 Pro and newer only.
This format has high frames per second rate suitable for capturing slow motion footage.
This format has limited Video Image Stabilisation.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>UHD 3840x2160 120 fps
High frame rate - slow motion
Wide camera only</string>
			<key>Key</key>
			<string>na</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Include this format</string>
			<key>Key</key>
			<string>include_fmt_uhd_slomo</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Ultra High Definition</string>
			<key>FooterText</key>
			<string>This format supports Video Image Stabilisation.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>UHD 3840x2160 60 fps</string>
			<key>Key</key>
			<string>na</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Include this format</string>
			<key>Key</key>
			<string>include_fmt_uhd</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>High Definition - 4/3</string>
			<key>FooterText</key>
			<string>This is a 4/3 aspect ratio format.
This format has limited Video Image Stabilisation.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>HD 1920x1440 60 fps</string>
			<key>Key</key>
			<string>na</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Include this format</string>
			<key>Key</key>
			<string>include_fmt_hd_4_3</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>High Definition - High frame rate</string>
			<key>FooterText</key>
			<string>This format has high frames per second rate suitable for capturing slow motion footage.
This format supports taking reduced size 2MP photos.
This format has limited Video Image Stabilisation.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>HD 1920x1080 120 fps
High frame rate - slow motion</string>
			<key>Key</key>
			<string>na</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Include this format</string>
			<key>Key</key>
			<string>include_fmt_hd_slomo</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>High Definition</string>
			<key>FooterText</key>
			<string>This format supports Video Image Stabilisation.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>HD 1920x1080 60 fps</string>
			<key>Key</key>
			<string>na</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Include this format</string>
			<key>Key</key>
			<string>include_fmt_hd</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
